footer {
  display: flex;
  padding: 48px 64px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 6px solid #fdba74;
  background-color: #181818;
}

footer p {
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 140%; /* 25.2px */
  opacity: 0.7;
}

/* Media Queries */
@media (max-width: 1024px) {
  footer {
    padding: 38px 48px;
  }

  footer p {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  footer {
    padding: 24px 24px;
  }

  footer p {
    font-size: 16px;
  }

  footer img {
    width: 120px;
  }
}

@media (max-width: 550px) {
  footer {
    padding: 24px 24px;
  }

  footer p {
    font-size: 14px;
  }

  footer img {
    width: 100px;
  }
}

@media (max-width: 450px) {
  footer {
    flex-direction: column;
    gap: 24px;
    justify-content: center;
  }
}
